body, table{font-size:15px;font-family:"comic sans ms";background:#cccccc;color:#ffffff}
.msg{color:red}
textarea{width:400px;height:50px}
.cont{background:#567378;margin:30px auto;padding:15px;border:2px solid #2B3651}
.tabu{background:#567378}
.com{color:#ffff00;font-size:13px}
.menu a{color:greenyellow;font-size:14px}
.box td {border:1px solid #cccccc; }
.box th{border:1px solid #cccccc; background-color:#4d4a66; color:white}
.link{color:#ffffff;font-weight:bold; }
/* calendar */
table.calendar    { background:#fff;color:#000;border-left:1px solid #999; }
tr.calendar-row  {  }
td.calendar-day  { min-height:80px; font-size:11px; position:relative; } * html div.calendar-day { height:80px; }
td.calendar-day:hover  { background:#eceff5; }
td.calendar-day-np  { background:#eee; min-height:80px; } * html div.calendar-day-np { height:80px; }
td.calendar-day-head { background:#ccc; font-weight:bold; text-align:center; width:120px; padding:5px; border-bottom:1px solid #999; border-top:1px solid #999; border-right:1px solid #999; }
div.day-number    { background:#999; padding:5px; color:#fff; font-weight:bold; float:right; margin:-5px -5px 0 0; width:20px; text-align:center; }
/* shared */
td.calendar-day, td.calendar-day-np { width:120px; padding:5px; border-bottom:1px solid #999; border-right:1px solid #999; }
.red{font-family:"comic sans ms";color:red;font-size:13px;font-weight:bold;}
.yell{font-family:"comic sans ms";color:red;background:#f6f6f6}
.redplus{font-family:"comic sans ms";color:red;font-size:13px;font-weight:bold;background:#f6f6f6}
.green{font-family:"comic sans ms";color:green;font-size:13px;font-weight:bold;}
.blue{font-family:"comic sans ms";color:blue;font-size:13px;font-weight:bold;}
.orange{font-family:"comic sans ms";color:orange;font-size:13px;font-weight:bold;}
.mrwhite{font-family:"comic sans ms";background:#fff;font-size:13px;font-weight:bold;color:black;}
.mrbold{font-family:"comic sans ms";background:yellow;font-size:15px;font-weight:bold;color:red;}
.mrnormal{font-family:"comic sans ms";}
